# Database Configuration
DATABASE_URL=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=

# Authentication Configuration
AUTH_SECRET=
AUTH_COGNITO_ID=
AUTH_COGNITO_SECRET=
AUTH_COGNITO_ISSUER=

# E2E Testing Cognito User Credentials
COGNITO_USERNAME=
COGNITO_PASSWORD=
COGNITO_CUSTOM_DOMAIN=

# AWS Configuration
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_LAMBDA_FUNCTION_NAME=
